.App {
  text-align: center;
  font-size: 0.875em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#Input-Talla {

  width: 3em;

}

#Input-Fecha-De-Jubilacion {
  width: 4em;
}

.Miniatura {

  display: flex;

  flex-direction: row;

  align-items: center;
  gap: 4vmin;
  padding: 3vmin;
  border: 1vmin black solid;

  margin: 2vmin;

  width: 24%;
}

.Info-Miniatura {

  border: solid;

  text-align: center;
  padding: 1vmin;
  background-color: white;
  border: solid 0.7vmin rgb(0, 0, 0);
  border-collapse: collapse;
}

.Info-Miniatura th {}

.Info-Miniatura td,
.Info-Miniatura th {
  padding: 3vmin;
  border-bottom: black solid 0.5vmin;
}

/*1vmin = 5px*/

.Conjunto-Miniaturas {}